.tableAside{
    display: flex;
    column-gap: 3vh;
}

.borderAside{
    border: 1px solid black;
    width: 50%;
    >p{
     margin: 2%;   
    }

    aside{
        background-color: rgb(228, 246, 201);
        margin:2%;
        padding: 1%;
    }
}